<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Check</title>
</head>
<body>
<h2 th:text="${purchaseResult}"></h2>
<div>
    <div th:each="boughtBall : ${boughtBalls}">
        <h4 th:text="${String.format(ballsFormat,
        boughtBall.whiteBallsDetail(),
        boughtBall.redPowerBallDetail(),
        boughtBall.multiplyRate())}"></h4>
    </div>
</div>
<h2 th:text="${header}"></h2>
<form action="/win-input" method="get">
    <div>
        <label for="whiteBalls" th:text="${whiteBallNotice}"></label>
        <input name="whiteBalls" id="whiteBalls" type="text"
               th:placeholder="${example}">
    </div>
    <div>
        <label for="redPowerBall" th:text="${redPowerBallNotice}"></label>
        <input name="redPowerBall" id="redPowerBall" type="text">
    </div>
    <div>
        <input type="submit" value="조회하기">
    </div>
</form>
</body>
</html>