<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Power Ball</title>
</head>
<body>
<h2 th:text="${greeting}"></h2>
<form action="/purchase" method="get">
    <div>
        <label for="powerBallPrice" th:text="${ball_notice}"></label>
        <input name="powerBallPrice" id="powerBallPrice" type="text"
               th:placeholder="${ball_attention}">
    </div>
    <div>
        <label for="powerPlayPrice" th:text="${play_notice}"></label>
        <input name="powerPlayPrice" id="powerPlayPrice" type="text"
               th:placeholder="${play_attention}">
    </div>
    <div>
        <input type="submit" value="결제하기">
    </div>
</form>
</body>
</html>