<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Winning Number Input</title>
</head>
<body>
<h2 th:text="${header}"></h2>
<form action="/win-input" method="get">
    <div>
        <label for="whiteBalls" th:text="${whiteBallNotice}"></label>
        <input name="whiteBalls" id="whiteBalls" type="text"
               th:placeholder="${example}">
    </div>
    <div>
        <label for="redPowerBall" th:text="${redPowerBallNotice}"></label>
        <input name="redPowerBall" id="redPowerBall" type="text">
    </div>
    <div>
        <input type="submit" th:value="${inquire}">
    </div>
</form>
</body>
</html>