<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Power Ball</title>
    <link href="/input.css" rel="stylesheet">
</head>
<body class="container">
<h2 th:text="${greeting}"></h2>
<form action="/purchase" method="post">
    <div class="input">
        <label for="powerBallPrice" th:text="${ball_notice}"></label>
        <input name="powerBallPrice" id="powerBallPrice" type="text"
               th:placeholder="${ball_attention}">
    </div>
    <div class="input">
        <label for="powerPlayPrice" th:text="${play_notice}"></label>
        <input name="powerPlayPrice" id="powerPlayPrice" type="text"
               th:placeholder="${play_attention}">
    </div>
    <div>
        <input type="submit" th:value="${purchase}">
    </div>
</form>
</body>
</html>